*{
  box-sizing: border-box;
}
html{
  font-size: 1px;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #333;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) fixed; 
}
.main-container{
  margin-top: 16px; max-width: 1200px; padding-bottom: 20px;
}
.main-title{
  font-size: 28rem; font-weight: 700; text-align: center; 
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4); color: var(--blue);
}
/*team-name*/
.team{ 
  display: grid;  grid-gap:16px; margin-top: 16px; padding: 10px; font-size: 18px;
  border: 2px solid #f1f5ff; border-radius: 8px;
  background-color: #fff; box-shadow: 0px 2px 5px var(--light-blue-shadow);
  margin-left: auto; margin-right: auto;
  &-name{
    font-size: 20px; font-weight: 700; padding-right: 16px;
  }
}

@media (min-width: 667px){
  .team{
    grid-template-columns: 1fr 4fr;
  }
}
@media (max-width: 1200px){
  .team{
    width: 96%;
  }
}
@media (min-width: 1201px){
  .main-container{
    min-width: 970px;
  }
}